
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
        <li><a target="_blank" href="#" data-text="Home">Home</a></li>
        <li><a target="_blank" href="#" data-text="Flights">Flights</a></li>
        <li><a target="_blank" href="#" data-text="Hotels">Hotels</a></li>
        <li><a target="_blank" href="#" data-text="Cargo">Cargo</a></li>
        <li><a target="_blank" href="#" data-text="Train">Train</a></li>
        <li><a target="_blank" href="#" data-text="Port">Port</a></li>
    </ul>
</body>
</html>