<div class="container" style="width: 175%;">
    <div class="row mt-3 p-1">
        <button mat-button>
            <mat-icon>flight</mat-icon>
            Flights
        </button>
    </div>
    <div class="row mt-3 p-1">
        <button mat-button>
            <mat-icon>hotel</mat-icon>
            Hotels
        </button>
    </div>
    <div class="row mt-3 p-1">
        <button mat-button>
            <mat-icon>local_offer</mat-icon>
            Offers
        </button>
    </div>
    <div class="row mt-3 p-1">
        <button mat-button>
            <mat-icon>map</mat-icon>
            My Trips
        </button>
    </div>
    <div class="row mt-3 p-1">
        <button mat-button>
            <mat-icon>stars</mat-icon>
             For Work
        </button>
    </div>
    <div class="row mt-3 p-1">
        <button mat-button>
            <mat-icon>contacts</mat-icon>
            Support
        </button>
    </div>
    
</div>
